/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    GENERAL  STYLES    
    =============================================*/

body {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    border-left: 1px solid #e1e1e1;
}

#page-inner {
    width: 100%;
    margin: 0px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 1050px;
}

.pad-top {
    padding-top: 15px;
}

/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse {
  transform: translateZ(0);
}
.sidebar-collapse .nav {
    padding: 0;
    background: #fff;
    position: relative;
    width: 100%;
    top: 10px;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 500;
    font-size: 16px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav > li > a:hover{
    background: #f0f5fa;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #eef4f7;
}

.navbar-inverse {
    background-color: #214761;
    border-color: #214761;
    min-height: 48px;
}

.nav > li > a > i {
    margin-right: 10px;
    min-width: 16px;
}

.logout-spn {
    float: right;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin: 20px;
    margin: 10px 25px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
}

.active-link a {
    background: #f0f5fa !important;
}


/*==============================================
    DASHBOARD STYLES    
    =============================================*/

.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}

.div-square> a,
.div-square> a:hover {
    color: #808080;
    text-decoration: none;
}


/*==============================================
    FOOTER STYLES     
    =============================================*/

.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}

.footer > a,
.footer>a:hover {
    color: #fff;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 200px;
        padding: 15px 30px;
        min-height: 1050px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }
}

/*==============================================
    LOADING    
    =============================================*/
body.loading #wrapper {
  pointer-events: none;
}
body #loading-container {
  display:none;
}
body.loading #loading-container {
  display:block;
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  background: rgba(0,0,0,.7);
    color: #fff;
  /*
  background: rgba(0,0,0,.1);
  color: #4B9ED1;*/
  border-radius: 9px;
  transform: translate(-50%, -50%);
}
body.loading #loading-indicator {
  width: 108px;
  margin: 20px auto;
  height: 108px;
  background: url(../img/loading.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
body.loading #loading-text {
  font-size: 1.6em;
  text-align: center;
}



/*==============================================
    CROP IMAGE     
    =============================================*/

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 180px;
  height: 180px;
  padding: 0;
}

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden
}

img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}


/*==============================================
    MODAL     
    =============================================*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:2000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
  transition: opacity .3s;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:2001;
  position: fixed;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  display: none;
  font-weight: bold;
  z-index: 10;
  -webkit-transform:scale(1.3,1); /* Safari and Chrome */
  -moz-transform:scale(1.3,1); /* Firefox */
  -ms-transform:scale(1.3,1); /* IE 9 */
  -o-transform:scale(1.3,1); /* Opera */
  transform:scale(1.3,1); /* W3C */
  font-family: 'arial', 'sans-serif';
}
#page-inner .ng-modal-close {
  display:inline-block;
}
.show-close 
#pop-box {
  transition: top .2s;
  -webkit-transition: top .2s;
  display: block !important;
  visibility: visible;
}
#pop-box.ng-hide {
  visibility: hidden;
}
#pop-box .ng-modal-overlay {
  opacity: 0.7;
}
#pop-box.ng-hide .ng-modal-overlay {
  opacity: 0;
}


