/* OVERWRITES */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 1.2em;
    margin-bottom: .85em;
}

h2 {
	font-size: 1.5em;
	margin: 0;
}

/* General class */
.link {
	cursor: pointer;
	color: #428bca;
	color: #369;
}
.pointer {
	cursor: pointer;
}
a {
	color: #369;
}
textarea {
	line-height: normal;
}
.selected {
	background: #ffff99 !important;
}
.green {
	color: #009900;
}
.red {
	color: #990000;
}
.greenbg {
	background: #eeffee;
}
.redbg {
	background: #ffeeee;
}
.yellowbg {
	background: #ffffdd;
}
.bluebg {
	background: #ddeeff;
}
.show {
	display: block !important;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.center2 {
	margin: auto;
	display: block;
}
.disabled {
	pointer-events: none;
	opacity: 0.5;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.inline {
	display: inline-block;
}
.half {
	width: 50%;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
input.disabled, select.disabled {
	background: #ccc;
}
.hvcenter {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: left;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.vcenter,
.submenu li > div,
navbar-header > * {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.indent {
	padding-left: 2.1em !important;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.light {
	opacity: 0.5;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}
div.delete {
	margin-top: 2.3em;
	text-align: right;
}
i.delete {
	font-size: 1.8em;
}
a.add {
	margin-bottom: .6em;
    display: inline-block;
}
i.input.fa-check {
	position: absolute;
    margin: .7em 0 0 -1.6em;
    color: #ddd;
}
i.input.fa-check.green {
	color: #090;
}

/* MEDIA QUERY */
.col-sm-8 {
	width: 100%;
}
.w90 { width: 90%; }
.w80 { width: 80%; }
.w70 { width: 70%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w20 { width: 20%; }
.w10 { width: 10%; }


/* Header */
html {
	background: #f5f6f8;
}
body {
	max-width: 1024px;
    margin: 0 auto;
    line-height: normal;
}


button {
	outline: none !important;
}
body button.btn {
	border-radius: 999px;
}
body .search-container button,
body .ng-binding > button {
	border-radius: 0;
}
input:not([type=checkbox]),select {
	height: 2.2em;
	padding-left: .5em !important;
}
select {
	background: #fff;
    border-color: #ccc;
}



/***** LIST VIEW *****/
.search-input {
	width:calc(100% - 6em);
	max-width:600px;
	outline:0;
	font-size: 1.2em;
	padding: .8em 1.2em;
	float:left;
	border: 1px solid #ddd;
}
.autocomplete-suggestion {
	line-height: 1.7em;
}
.autocomplete-suggestion .attr {
	display:inline-block;
	float: right;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;

}
.autocomplete-suggestion span.group {
	font-weight: bold;
}
.autocomplete-suggestions.visit .autocomplete-suggestion .attr {
	width: 45%;
}
.autocomplete-suggestion span.name {
	position: absolute;
	position: relative;
	display:inline-block;
}
.search-container {
	margin-top: 20px;
}
.search-container button {
	width: 6em;
	padding: 0.8em;
	font-size: 1.2em;
	border-radius: 0;
	position: relative;
}
.prev-image {
	height: 5em;
	width: 5em;
	display:inline-block;
	margin: .2em .5em .2em 0;
}
.prev-image img {
	height: 100%;
	width: 100%;
}
.results {
    float: right;
    text-align: right;
    margin-top: 10px;   
}
.results .total-count{
	font-size: .5em;
    color: #999;
    font-style: italic;
}
.results .export{
	margin-top: 1em;
	font-size: .5em;
	text-transform: uppercase;
}
.pagination {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
table.member-list {
	margin-top: 0px;
}
table.member-list th {
	cursor: pointer;
}
table > tbody > tr.leader > td{
	background: #ffffee !important;
}
/* Advanced search */
.advanced-search-text {
	margin: 0.5em;
}
.advanced-search {
	font-size: .9em;
	margin: 0;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 1em 0;
    display: none;
    background: #f3f8fd;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.advanced-search.show {
	display: block;
}
.advanced-search > div {

}
.advanced-search .label{
	width: 45%;
	text-align: left;
	color: #666;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
    position: relative;
    top: .1em;
}
.advanced-search input {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 20%;
	margin: 0;
	height: 2.5em;
}
.advanced-search select {
	display: inline-block;
	width: 52%;
	height: 2.5em;
}
.filter-save {
	text-align: center;
	font-size: .9em;
	padding: .5em;
	background: #eee;
	margin: auto;
}
.filter-save input {
	padding: .5em;
	border: 1px solid #eee;
}
.filter-save button {
	padding: .5em;
}
.saved-filter label {
	text-transform: uppercase;
}
.saved-filter select {
	width: calc(50% - 20px);
	background: #ffffcc;
}
.saved-filter i {
	font-size: 1.3em; 
	margin-left: 5px;
}
.getemail textarea {
	line-height: normal;
	width: 100%;
	font-size: .9em;
}
.getemail textarea.emaillist {
	height: 150px;
	background: #ffffee;
}
.getemail textarea.noemaillist {
	height: 48px;
	background: #ffeeee;
}


/***** MEMBER VIEW *****/
.form-group {
    margin-bottom: .3em;
}
form [required] {
	/*box-shadow: 0 0 1px #333 */
}
form .ng-invalid {
	border: 1px solid #dd9999;
}
.member-container {
	line-height: 2em;
	background: #f5fbfd;
	border-radius: 9px;
	padding: 1.6em;
	margin: 10px -15px;
	font-size: 1em;
}
.member-container.visit {
	background: #f5f5fa;
}
.member-container h4 {
	font-size: 1.2em;
    text-align: left;
    border-bottom: 1px solid #ddd;
    letter-spacing: .2em;
    padding-bottom: 10px;
    margin: 5px 15px 15px 0;
    text-transform: uppercase;
}
.member-container label {
	display: inline-block;
	width: 150px;
	min-height: 2em;
	margin-left:1em;
	float: left;
	font-weight: normal;
}
.modal-body .member-container {
	background: transparent;
    padding: 0 1em;
    margin: 0.5em;
    font-size: 1em;
}
.form-group datepicker {
	font-size: inherit;
	min-width: 260px;
	padding: 0;
	width: auto;
}
._720kb-datepicker-calendar-day {
	padding: 0;
}
.map-icon {
	font-size: 1.8em;
    margin-left: 8px;
    color: #ff9900;
}
li.done {
	color: #009900;
	font-weight: 600;
}
.member-container input[type=checkbox] {
	font-size: 16px;
	margin-left:10px;
	margin-right: 5px;
}
.form-group textarea {
	line-height: normal;
	padding: 15px;
}
.crop-result > div {
	float:right;
}
.crop-result img {

}
.caption {
	font-size: .7em;
    display: block;
    color: #c00;
    text-transform: uppercase;
}
.status.added, .status.failed {
	display: none;
}
.count.link {
	margin-right: 5px;
}



/* SETTING */
.setting-container [class^='col-'] {
	padding: 0 10px;
}
.big-button {
	width: 100%;
    height: 9em;
    background: #6a777f;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}
div.big-button:hover, 
div.big-button:focus {
	background: #9fabb3;
}
.big-button > div {
	transform: translateY( -50%);
	position: relative;
	top: 50%;
}
.big-button > div > i {
	display: block;
    font-size: 2em;
}
.big-button > div > span {

}
.big-button {
	width: calc(100% - 1px);
    height: 9em;
    background: #6a777f;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 1.3em;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}
.training-buttons {
	float: left;
	width: 25%;
}
.training.big-button {
	width: calc(100% - 1px);
	background: #506f83;
	margin-bottom: 1px;
}
.trainee {
	color: #bbb;
}

/* LOGIN */
#login-container {
	margin: 0;
	text-align: center;
    padding: 15px;
    min-height: 1050px;
}
#login-container .panel {
	max-width: 360px;
	margin: auto;
	border-color: #214761;
	margin-top: 60px;
}
#login-container .panel .panel-heading{
	background-color: #214761;
	color: #fff;
	border-color: #214761;
	font-size: 1.2em;
}
#login-container .input-group {
	width: 100%;
	
}
#login-container input:not([type=checkbox]) {
	font-size: 1.2em;
	width: 100%;
}
#login-container .checkbox {
	text-align: left;
}
#login-container .checkbox input {
	font-size: 16px;
}
#login-container button,
.import-text button {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}


