@media(min-width:768px) {
    .sidebar-collapse.collapse{
        display: block;
    }
    .navbar-toggle {
    	display:none;
    }
    /*
    .navbar-side {
        width: initial;
	    display: block;
	    position: relative;
	    top: 0;
    }  
    .navbar-side ul.nav {
    	color: #fff;
    	border-bottom: 1px solid rgba(0,0,0,.7);
    }
    .navbar-side li {
    	position: relative;
	    min-width: 150px;
	    display: inline-block;
	    border-right: 1px solid rgba(0,0,0,.7);
	    border-bottom: none;
	}
	.navbar-side li a {
		text-align:center;
	}
	*/
    .navbar-fixed-top, .navbar-fixed-bottom {
		position: relative;	
	}
    #wrapper {
		margin-top: 0px;
	}
}
@media(min-width:525px) {
	.desktop {
		display: block;
	}
	td.desktop, th.desktop {
		display: table-cell;
	}
	.col-sm-8 {
	    width: 66.66666667% !important;
	}
}
/* PHONE */
@media(max-width:768px) {
	#page-wrapper {
		border-left:none;
	}
	#page-inner{ 
		margin: 0;
	}
	.modal-body {
		overflow: auto;
		height: 90vh;
	}
	.modal-body {
		min-width: 500px !important;
	}
	.modal-body.addsim {
		min-width: 400px !important;
	}
	.col3 {
		width: 100%;
	}
	.addsim .col3{
		width: 100%;
	    float: none;
	    height: initial;
	    margin-bottom: 2em;
	    text-align: center;
	}
	.addsim .col3 textarea{
		width: 95%;
		height: 10em;
	    border: 1px solid #ddd;
	    font-size: .8em;
	}
}

/********* MOBILE THRESHOLD ********/
@media(max-width:525px) {
	select {
	    border-color: #eee;
	}
	#page-wrapper, #page-inner {
		padding: 0px;
	}
	.content.responsive > *:not(table) {
		margin: .8em;
	}
	.submenu li.active {
		color: #fff;
		background: inherit;
	}
	.submenu li.active > div{
		border-bottom: 1px solid #fff;
		width: 90%;
		margin: auto;
	}
	#page-inner{
		min-height: 0px;
		position: absolute;
		left: 0;
		right:0;
		bottom: 0;
		top: 0;
	}
	.ng-modal-dialog {
		width: 90%;
	}
	.col-sm-8, [class^="col-"] {
	    width: 100% !important;
	}
	.desktop {
		display: none;
	}
	.member-container .form-group label{
		width: 100%;
		margin: 0 .5em;
	}
	.training-buttons {
		width: 33%;
	}
	.modal-body {
		min-width: initial !important;
	}
	input {
		border: 1px solid #eee;
	}
	input[readonly] {
		border: none;
	}
	.autocomplete-suggestions.mainsearch {
		width: calc(100% - 50px) !important;
	}
	/* SETTINGS */
	.addsim .col3  {
		width: 100%;
	}
	.modal-body {
		min-width: initial !important;
	}
	.modal-body.addsim {
		min-width: initial !important;
	}

}

