
/* MESSAGE */
#pop-box .ng-modal-overlay {
    opacity: 0.5;
}
.modal-body h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 0.5em;
}
.modal-body {
	line-height: 2em;
}
.modal-body.message {
	padding: 0;
	min-width: 300px;
	text-align: center;
}
.modal-body.message .title{
	font-weight: 600;
    font-size: 1.2em;
    padding: 16px 10px 0px 10px;
}
.modal-body.message .content{
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    line-height: normal;
}
.message .button-container > button.link {
	font-size: 1.2em;
	color: #0071FF;
	text-align: center;
	border: none;
	background: transparent;
	width: 100%;
	display: inline-block;
	height: 44px;
	padding: 7px;
	float: left;
}
.message .button-container.confirm > button {
	width: 50%;
}
.message .button-container.confirm > button.ok {
	width: 50%;
	border-left: 1px solid #ddd;
}
.pop-btn {
	display: block;
}
