#page-inner {

}
#wrapper {
	margin-top: 3.4em;
}

/* HEADER */
.navbar {
	margin-bottom: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;	
}
.navbar-inverse {
	min-height: 48px;
	height: 3.3em;
}
.navbar-inverse .navbar-brand {
    color: #eee;
}
.navbar-header {
	width: 100%;
}
.navbar-brand {
    float: none;
    display: block;
    height: 100%;
    font-size: 1.2em;
}
.back-button, .navbar-toggle {
	color: #fff;
    display: inline-block;
    padding: 0.3em .5em;
    font-size: 1em;
    margin: 0em .3em;
    background: transparent;
    border: 1px solid #333;
}
.navbar-header .title {
	position: absolute;
	width: 100%;
}
.navbar-toggle {
	right: 0;
}
.navbar-toggle .icon-bar {
	margin-top: 2px;
}
.navbar-header > button {
	z-index: 1;
}

/* REATILER HEADER */
body.retailer {
	max-width: 960px;
}
.retailer .navbar-inverse {
	background: #993333;
}


/* SIDE BAR */
.sidebar-collapse .nav {
	top: 0;
}
.sidebar-collapse > div {
    padding: 20px 10px;
}
div#container {
	position: relative;
}
div#container > h2{
	margin-top: 0;
}
a.active-link {
	background: #f0f5fa !important;
}
.sidebar-collapse > .nav > li.company i {
	display: none;
	font-size: 1.3em;
    right: 0;
    position: absolute;
}
.sidebar-collapse > .nav > li.company:not(.expand) i.down {
	display: inline-block;
}
.sidebar-collapse > .nav > li.company.expand i.up{
	display: inline-block;
}
li.company .expand-content {
	height: 0;
	opacity: 0;
	font-size:.9em;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
li.company.expand .expand-content {
	opacity: 1;
}
.sidebar-collapse > .nav > li.company.expand:before {
}
.sidebar-collapse > .nav > li > a {
	padding: .8em .8em;
	font-size: 1em;
	height: 3em;
}
.sidebar-collapse > .nav > li > a:focus {
	background: transparent;
}
.sidebar-collapse > .nav > li.group > a:first-child {
	padding-top: 1.1em;
}
.sidebar-collapse > .nav > li.group > a {
	padding: .7em;
}
.sidebar-collapse > .nav > li.group > a:last-child {
	padding-bottom: 1.1em;
}
#page-wrapper {
	padding: 1em;
	position: relative;
}


/**** COMPANY LIST ****/
.companylist {
	padding: 0.5em 0;
}
.companylist li {
	height: 1.4em;
    margin: 0;
    padding-left: 1.7em;
    position: relative;
}
.companylist li:hover {
	background: #f0f5fa;
}
.companylist li.mygroup {
	padding-left: .8em;
}
.atype {
	background-image: url(../img/retailer.png);
	background-size: contain;
    width: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: .3em;
    display: inline-block;
    height: 1em;
}
.atype.AGENT {
	background-image: url(../img/agent.png);
}
table .atype {
	font-size: 1.2em; 
}
table .atype:beofre {
	top: 0;
}
li.company .name {
	width: 10em;
	margin-left: 1.3em;
}
.companylist li > span{
	display: inline-block;
}
.companylist .name {
	width: 8em;
}
.companylist .price {
	position: absolute;
	right: 1em;
	color: #009900;
	font-size: .9em;
	top: .12em;
}


/* Group view */
.group-container {
	margin-top: .8em;
	font-size: 1.5em;
}
ul.child {
	margin-left: 24px;
}
li.group-item > div {
	padding: .1em 0;
	border-bottom: 1px solid #eee;
}
i.tree-expand {
	display: inline-block;
	width: 20px;
}
.group-item .actions {
	font-size: .8em;
	float: right;
}
.group-item i {
	cursor: pointer;
	color: #555;
	margin-left: 5px;
}
.group-item i:first-child {
	margin-left:10px;
}
.group-item .count {
	font-size: .7em;
	color: #bbb;
	display: inline-block;
    position: relative;
    top: -2px;
}
.group-item .count > i {
	margin: 0;
}


/* CONTENT */
.content.responsive > * {
	margin: .5em 0;
}


