/* SIM */
.addsim .col3{
	width: 33%;
    float: left;
    height: 23em;
    text-align: center;
}
.addsim .col3 textarea{
	width: 95%;
	height: 20em;
    border: 1px solid #ddd;
    font-size: .8em;
}