<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="prebox" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="prebox" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="prebox" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="prebox" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MY PREBOX</title>
  <meta name="description" content="">
  <link href="css/bootstrap.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet" />
</head>
<body>

    <!-- s:header -->
    <div id="wrapper" ui-view="">
    </div>
    <div id="loading-container">
      <div id="loading-indicator"></div>
      <div id="loading-text">{{$root.local('loading', 'en')}}</div>
    </div>
    <modal-dialog show='$root.modalShown' id="pop-box">
      <div class="modal-body message" style="display:none">
          <form>
          <div class="title"></div>
          <div class="pop-container">
              <div class="content"></div>
              <div class="button-container al message">
                  <button class="link button" ng-click="$root.modalShown=false; $root.callback()">{{$root.local('msg.ok', 'en')}}</button>
              </div>
              <div class="button-container confirm">
                  <button class='link cancel' ng-click="$root.modalShown=false">{{$root.local('msg.cancel', 'en')}}</button>
                  <button class='link ok' ng-click="$root.modalShown=false; $root.callback()">{{$root.local('msg.ok', 'en')}}</button>
              </div>
          </div>
          </form>
      </div>
    </modal-dialog>

    <iframe id="export_iframe" style="display:none;"></iframe>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="scripts/vendor/jquery-1.12.0.min.js"></script>
  <script src="scripts/vendor/jquery.mask.js"></script>
  <script src="scripts/vendor/jquery.retryAjax.min.js"></script>
  <script src="scripts/vendor/auto-complete.min.js"></script>
  <script src="scripts/vendor/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-route/angular-ui-router.min.js"></script>
  <script src="scripts/vendor/dirPagination.js"></script>
  <script src="scripts/vendor/modernizr-2.8.3.min.js"></script>
  <script src="scripts/vendor/moment.js"></script>
  <script src="scripts/vendor/custom.js"></script>
  <script src="scripts/vendor/angular-bootstrap-checkbox.js"></script>
  <script src="scripts/ocLazyLoad.js"></script>
  <script src="scripts/plugins.js"></script>
  <script src="scripts/main.js"></script>
  <script src="config.js"></script>
  <script src="local.js"></script>
  <script src="pages.js"></script>
  <script src="app.js"></script>
  <script src="services/gService.js"></script>
  <script src="controllers/mainControllers.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
