<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                {{$root.local('appName')}}
            </a>
        </div>
    </div>
</div>
<div id="login-container">
    <div class="panel">
        <div class="panel-heading">
            {{$root.local('forgot.title')}}
        </div>
        <div class="panel-body" ng-if="!step || step==1">
            <form ng-submit="submit1()">
                <div class="input-group" style="margin:5px;">
                 <div class="center">Step 1 of 3</div>
                 <div>Please verify your email</div>
                </div>
                <div class="input-group">
                    <input type="email" class="email" ng-model="login.email" placeholder="{{$root.local('login.email', 'en')}}">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn-block btn-lg">{{$root.local('forgot.button1')}}</button>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-if="step==2">
            <form ng-submit="submit2()">
                <div class="input-group" style="margin:5px;">
                 <div class="center">Step 2 of 3</div>
                 <div>Please check your email from 'Antioch Admin' and check for confirmation code. Enter the confirmation code below.</div>
                </div>
                <div class="input-group">
                    <input type="tel" ng-model="login.code" placeholder="Enter confirmation code">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn-block btn-lg">{{$root.local('forgot.button2')}}</button>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-if="step==3">
            <form ng-submit="submit3()">
                <div class="input-group" style="margin:5px;">
                 <div class="center">Step 3 of 3</div>
                 <div>Please change your password</div>
                </div>
                <div class="input-group">
                    <input type="password" ng-model="login.password" required placeholder="New Password">
                </div>
                <div class="input-group">
                    <input type="password" ng-model="login.password2" required placeholder="Confirm Password">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn-block btn-lg">{{$root.local('forgot.button3')}}</button>
                </div>
            </form>
        </div>

        <div class="panel-body" ng-if="step==4">
                <div class="input-group" style="margin:5px;">
                 
                 <div>Your password has changed successfully!<br>Click <a href="#/login">HERE</a> to Login.</div>
                
        </div>
    </div>
</div>
