<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                {{$root.local('appName')}}
            </a>
        </div>
    </div>
</div>
<div id="login-container">
    <div class="panel">
        <div class="panel-heading">
            {{$root.local('login.title', 'en')}}
        </div>
        <div class="panel-body">
            <form ng-submit="submit()">
                <div class="input-group">
                    <input type="tel" class="security" ng-model="login.security_code" placeholder="{{$root.local('login.securitycode', 'en')}}" required>
                </div>
                <div class="input-group">
                    <input type="text" class="email" ng-model="login.username" placeholder="{{$root.local('login.username', 'en')}}" required>
                </div>
                <div class="input-group">
                    <input type="password" ng-model="login.password" placeholder="{{$root.local('login.password', 'en')}}" required>
                </div>
                <div class="input-group checkbox">
                    <checkbox ng-model="login.remember" ng-change="remember()"></checkbox> {{$root.local('login.remember', 'en')}}
                </div>
                <div class="input-group">
                    <button type="submit" class="btn-block btn-lg">{{$root.local('login.button', 'en')}}</button>
                </div>
            </form>
        </div>
    </div>
    <div class='row' style="margin-top: 20px">
        <a href="#/forgot" class="link">{{$root.local('login.forgot', 'en')}}</a>
    </div>
</div>
