<header id="header" ng-include="$root.headerUrl"></header>
<div id="container">
	<h2>Activate SIM Card</h2>
	<div class="member-container">
            <h4>{{$root.local('member.subtitle_personal', 'en')}}</h4>
            <div class="form-group row">
                <label class="">Dealer Code</label>
                <input type="tel" class="col-sm-8" ng-model="myform.dc" placeholder="Enter a 5 digit dealer code" readonly>
            </div>
            <div class="form-group row">
                <label class="">Dealer Password:</label>
                <input type="password" class="col-sm-8" ng-model="myform.dp" readonly placeholder="Enter passcode">
            </div>

            <div class="form-group row">
                <label class="">Product Type:</label>
                <select ng-model="myform.selPlan" ng-change="refreshActivationCities()">
                	<option value=""></option>
                	<option value="W25">LTE $25 Month</option>
                	<option value="W30">LTE $30 Month</option>
                	<option value="W35">LTE $35 Month</option>
                	<option value="W40">LTE $40 Month</option>
                	<option value="W50">LTE $50 Month</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="">ActFast Code:</label>
                <input type="tel" class="col-sm-8" ng-model="myform.afcode" placeholder="9~10 digits code">
            </div>
            <div class="form-group row">
                <label class="">ESN/IMEI/MEID:</label>
                <input type="email" class="col-sm-8" ng-model="myform.esn" placeholder="">
            </div>
             <div class="form-group row">
                <label class="">SIM Number:</label>
                <input type="tel" class="col-sm-8" ng-model="myform.sim" placeholder="GSM ONLY">
            </div>
            <div class="form-group row">
                <label class="">Area Code</label>
                <input type="tel" class="col-sm-8" ng-model="myform.npa" placeholder="" ng-change="refreshActivationCities()">
            </div>
            <div class="form-group row">
                <label class="">Choose City:</label>
                <select ng-model="myform.city" ng-options="c.id as c.name for type in cities">
                </select>
            </div>
            <div class="form-group row">
                <label class="">Airtime PIN</label>
                <input type="tel" class="col-sm-8" ng-model="myform.pin" placeholder="">
            </div>
            <button type="button" class="btn btn-info btn-lg btn-block" ng-click="submit()">{{$root.local('submit', 'en')}}</button>

    </div>
</div>