<div class="navbar navbar-inverse navbar-fixed-top no-print">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle vcenter pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="pull-left back-button vcenter" ng-click="$root.backClick()">
                <i class="fa fa-chevron-left"></i> Back
            </button>
            <div class="center title vcenter">
                <a href="javascript:void(0)" class="navbar-brand center" ng-click="$root.goHome()">
                    PREBOX
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side no-print" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="company">
                <a href="" class="selected" ng-click="toggleGroups()"><span class="atype {{group.groupType}}"></span><span class="name ellipsis inline">{{group.name}}</span>
                </a>
                           
            </li>
            <li >
                <a ng-class="{'active-link': current.nav=='home'}" href="#retailer/home"><i class="fa fa-home "></i>Home</a>
            </li>
            <li >
                <a ng-class="{'active-link': current.nav=='activate'}" href="#retailer/activate"><i class="fa fa-file-o"></i>Activate</a>
            </li>
    
            <li>
                <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div id="page-wrapper">
    <div id="page-inner" ui-view="">
    </div>
</div>
