<div class="general content responsive">
    <h2>{{header.title}}</h2>
    <form ng-submit="submit()">
    <div class="member-container">
        <h4>Account Info</h4>
        <div class="form-group row">
            <label class="">Account Id</label>
            <input type="tel" class="col-sm-8" ng-model="general.accountId" placeholder="Enter Account ID (REQUIRED)" required>
        </div>
        <div class="form-group row">
            <label class="">Name</label>
            <input type="text" class="col-sm-8" ng-model="general.name" placeholder="Enter Name (REQUIRED)" required>
        </div>
        <div class="form-group row">
            <label class="">Account Type:</label>
            <select ng-model="general.groupType" class="col-sm-8">
                <option value="AGENT">AGENT</option>
                <option value="RETAILER">RETAILER</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="">Status</label>
            <select ng-model="general.status" class="col-sm-8">
                <option value="ACTIVE">Active</option>
                <option value="HOLD">On Hold</option>
                <option value="FAILED">Failed Payment</option>
                <option value="CLOSED">Closed</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="">Tax Id</label>
            <input type="tel" class="col-sm-8" ng-model="general.taxId" placeholder="Enter Tax ID">
        </div>
        <br>
        <h4>Contact Info</h4>
        <div class="form-group row address">
            <label class="">Address:</label>
            <input type="text" class="col-sm-8 address" ng-model="general.formatted" data-id="addressId" placeholder="1324 Dekalb Pk, 19422">
        </div>
        <div class="form-group row">
            <label class="">Contact Name:</label>
            <input type="text" class="col-sm-8" ng-model="general.contactName" placeholder="John Doe">
        </div>
        <div class="form-group row">
            <label class="">Contact Mobile:</label>
            <input type="text" class="col-sm-8" ng-model="general.mobile" placeholder="111-222-3333">
        </div>
        <div class="form-group row">
            <label class="">Contact Email:</label>
            <input type="text" class="col-sm-8" ng-model="general.email" placeholder="john.doe@gmail.com">
        </div>
    </div>
    <button class="btn btn-primary btn-block w80 center2">SAVE</button>
    </form>
</div>
