<div class="users content responsive">
	<h2>{{header.title}}</h2>
    <div><span class="link" ng-click="addNewUser()"><i class="fa fa-plus"></i> Add New</span></div>
	<table class="table table-striped table-hover member-list" ng-if="users.length">
        <thead>
            <tr>
                <th class="no-print"><input type="checkbox" ng-model="membersSelectAll" ng-click="selectAll()" ></th>
                <th ng-click="sort('name')">Full Name
                    <span class="fa sort-icon" ng-show="sortKey=='name'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('username')">Username
                    <span class="fa sort-icon" ng-show="sortKey=='username'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('email')">Email
                    <span class="fa sort-icon" ng-show="sortKey=='email'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('createdAt')" class="center">Created Date
                    <span class="fa sort-icon" ng-show="sortKey=='createdAt'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="u in users|itemsPerPage:page.size" total-items="page.total" pagination-id="u1" current-page="page.current">
                <td class="no-print"><input type="checkbox" class="member" ng-model="membersSelected[$index]" ng-true-value="{{u.userId}}" ng-click="selectMember($index)" >
                <td>{{u.name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td class="center">{{$root.stampToDate(u.createdAt, 'MMM Do YYYY')}}
                <td><span class="link" ng-click="editUser(u)"><i class="fa fa-edit"></i></span></td>
            </tr>
        </tbody>
    </table>
    

    <div class="no-print">
        <div style="height: 34px">
            <span ng-if="!$root.checkEmptyObject(membersSelected)"><button class="btn btn-danger" ng-click="deleteMember()">Delete</button></span>
        </div>

        <dir-pagination-controls ng-if="users.length" style="margin-top: 0" max-size="8" pagination-id="u1" direction-links="true" boundary-links="true" on-page-change="getData(newPageNumber)" >
            
        </dir-pagination-controls>
    </div>

</div>

<modal-dialog show='$root.modalShown' id="pop-box">
    <div class="modal-body addnewuser alert-con01">
        <form ng-submit="submitAdd()">
            <h2 ng-if="user.userId">Edit User</h2>
            <h2 ng-if="!user.userId">Add a New User</h2>
            <div class="pop-container">
                <div class="member-container">
                    <div class="form-group row">
                        <label class="">Username:</label>
                        <input type="search" class="col-xs-6" ng-model="user.username" placeholder="(REQUIRED)" required>
                    </div>
                    <div class="form-group row">
                        <label class="">Password:</label>
                        <input type="password" class="col-xs-6" ng-model="user.password" placeholder="(REQUIRED)" required>
                    </div>
                    <div class="form-group row">
                        <label class="">Security Code:</label>
                        <input type="search" class="col-xs-6" ng-model="user.security_code" placeholder="(REQUIRED)" required>
                    </div>
                    <div class="form-group row">
                        <label class="">Full Name:</label>
                        <input type="text" class="col-xs-6" ng-model="user.name" placeholder="John Doe">
                    </div>
                    <div class="form-group row">
                        <label class="">Email:</label>
                        <input type="email" class="col-xs-6" ng-model="user.email" placeholder="john.doe@gmail.com">
                    </div>
                    <div class="pop-btn btn">
                        <button class="btn btn-default dpblock mb10 button" type="button" ng-click="$root.modalShown=false">Cancel</button>
                        <button class="btn btn-success dpblock button" type="submit">
                        	<span ng-if="user.userId">Submit</span>
                        	<span ng-if="!user.userId">Add Now</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</modal-dialog>

