<ul class="submenu">
	<li ng-click="changeTab('general')" class="general"><div>General</div></li>
	<li ng-click="changeTab('users')" class="users"><div>Users</div></li>
	<li ng-click="changeTab('billing')" class="billing"><div>Billing</div></li>
	<li ng-click="changeTab('rates')" class="rates"><div>Rates</div></li>
</ul>
<div class="submenu-space"></div>
<div class="account-page" ui-view="">

</div>