<div class="content responsive" ng-if="$root.checkAgent()">
	<h2>{{header.title}}</h2>
    <div><span class="link" ng-click="addNewAccount()"><i class="fa fa-plus"></i> Add New Sub Account</span></div>
	

    <table class="table table-striped table-hover member-list" ng-if="groups.length">
        <thead>
            <tr>
                <th class="no-print"><input type="checkbox" ng-model="membersSelectAll" ng-click="selectAll()" ></th>
                <th ng-click="sort('name')">Name
                    <span class="fa sort-icon" ng-show="sortKey=='name'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('createdAt')" class="center">Created At
                    <span class="fa sort-icon" ng-show="sortKey=='createdAt'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('groupType')" class="center">Type
                    <span class="fa sort-icon" ng-show="sortKey=='groupType'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <!--<th></th>-->
                
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="g in groups|itemsPerPage:page.size" total-items="page.total" pagination-id="gg1" current-page="page.current">
                <td class="no-print"><input type="checkbox" class="member" ng-model="membersSelected[$index]" ng-true-value="{{g.groupId}}" ng-click="selectMember($index)" >

                <td>{{g.name}}</td>
                <td class="center">{{$root.stampToDate(g.createdAt)}}</td>
                <td class="center relative"><span class="atype {{g.groupType}}"></span></td>
                <!--<td><span class="link" ng-click="editGroup(g.groupId)"><i class="fa fa-edit"></i></span></td>-->
            </tr>
        </tbody>
    </table>



    <div class="no-print">
        <div style="height: 34px">
            <span ng-if="!$root.checkEmptyObject(membersSelected)"><button class="btn btn-danger" ng-click="deleteMember()">Delete</button></span>
        </div>

        <dir-pagination-controls ng-if="groups.length" style="margin-top: 0" max-size="8" pagination-id="gg1" direction-links="true" boundary-links="true" on-page-change="getData(newPageNumber)" >
            
        </dir-pagination-controls>
    </div>

</div>

<modal-dialog show='$root.modalShown' id="pop-box">
    <div class="modal-body addnew alert-con01">
        <form ng-submit="submitAdd()">
            <h2>Add a Sub Account</h2>
            <div class="pop-container">
                <div class="member-container">
                    <div class="form-group row">
                        <label class="">Account Id:</label>
                        <input type="tel" class="col-xs-6" ng-model="newacct.accountId" placeholder="(REQUIRED)" required>
                    </div>
                    <div class="form-group row">
                        <label class="">Name:</label>
                        <input type="text" class="col-xs-6" ng-model="newacct.name" placeholder="(REQUIRED)" required>
                    </div>
                    <div class="form-group row">
                        <label class="">Account Type:</label>
                        <select ng-model="newacct.groupType" class="col-xs-6">
                            <option value="AGENT">AGENT</option>
                            <option value="DEALER">RETAILER</option>
                        </select>
                    </div>
                    <div class="pop-btn btn">
                        <button class="btn btn-default dpblock mb10 button" type="button" ng-click="$root.modalShown=false">Cancel</button>
                        <button class="btn btn-success dpblock button" type="submit">Add Now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</modal-dialog>

