<div class="navbar navbar-inverse navbar-fixed-top no-print">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle vcenter pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="pull-left back-button vcenter" ng-click="$root.backClick()">
                <i class="fa fa-chevron-left"></i> Back
            </button>
            <div class="center title vcenter">
                <a href="javascript:void(0)" class="navbar-brand center" ng-click="$root.goHome()">
                    PREBOX
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side no-print" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="company">
                <a href="" class="selected" ng-click="toggleGroups()"><span class="atype {{group.groupType}}"></span><span class="name ellipsis inline">{{group.name}}</span>
                    <i class="fa fa-angle-down down" ng-if="groups.length"></i>
                    <i class="fa fa-angle-up up" ng-if="groups.length"></i>
                </a>
                <div class="expand-content">
                    <ul class="companylist pointer">
                        <li class="mygroup" ng-click="changeGroup(mygroup.groupId)"><span class="atype {{mygroup.groupType}}"></span><span class="ellipsis name">{{mygroup.name}}</span></li>
                        <li ng-repeat="g in groups" ng-click="changeGroup(g.groupId)">
                            <span class="atype {{g.groupType}}"></span>
                            <span class="name ellipsis">{{g.name}}</span>
                            <span class="price" ng-if="g.balance">{{g.balance | currency:undefined:0}}</span>
                        </li>
                    </ul>
                </div>
                
            </li>
            <li >
                <a ng-class="{'active-link': current.nav=='home'}" href="#agent/home"><i class="fa fa-home "></i>Dashboard</a>
            </li>
            <li>
                <a class="" ng-class="{'active-link': current.nav=='account'}" href="#agent/account/general"><i class="fa fa-user "></i>Account</a>
                <a class="indent" ng-class="{'active-link': current.nav=='general'}" href="#agent/account/general"><i class="fa fa-credit-card"></i>General</a>
                <a class="indent" ng-class="{'active-link': current.nav=='users'}" href="#agent/account/users"><i class="fa fa-users"></i>Users</a>
                <a class="indent" ng-class="{'active-link': current.nav=='billing'}" href="#agent/account/billing"><i class="fa fa-money"></i>Billing</a>

            </li>
            <li>
                <a class="" ng-class="{'active-link': current.nav=='accoun'}" href="#agent/home"><i class="fa fa-user "></i>Reports</a>

            </li>
            <li ng-if="$root.checkAgent()">
                <a ng-class="{'active-link': current.nav=='group'}" href="#agent/groups"><i class="fa fa-list " ></i>Children</a>
            </li>
            <li ng-if="$root.checkAgent()">
                <a class="" ng-class="{'active-link': current.nav=='sim'}" href="#agent/setting/sim"><i class="fa fa-file-o"></i>SIM Management</a>
            </li>      
            <li>
                <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div id="page-wrapper">
    <div id="page-inner" ui-view="">
    </div>
</div>
