<div class="content responsive" ng-if="$root.checkAgent()">
	<h2>{{header.title}}</h2>
	<div><span class="link" ng-click="addNewSims()"><i class="fa fa-plus"></i>Add/Import New Sims</span></div>

	<table class="table table-striped table-hover member-list" ng-if="sims.length">
        <thead>
            <tr>
                <th class="no-print"><input type="checkbox" ng-model="membersSelectAll" ng-click="selectAll()" ></th>
                <th ng-click="sort('carrierId')">CarrierId
                    <span class="fa sort-icon" ng-show="sortKey=='carrierId'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('code')">Code
                    <span class="fa sort-icon" ng-show="sortKey=='code'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('sim')">SIM #
                    <span class="fa sort-icon" ng-show="sortKey=='sim'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('status')">Status
                    <span class="fa sort-icon" ng-show="sortKey=='status'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th ng-click="sort('createdAt')" class="center">Created Date
                    <span class="fa sort-icon" ng-show="sortKey=='createdAt'" ng-class="{'fa-sort-up':!sortOrder,'fa-sort-down':sortOrder}"></span>
                </th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="s in sims|itemsPerPage:page.size" total-items="page.total" pagination-id="s1" current-page="page.current">
                <td class="no-print"><input type="checkbox" class="member" ng-model="membersSelected[$index]" ng-true-value="{{s.id}}" ng-click="selectMember($index)" >
                <td>{{s.carrierId}}</td>
                <td>{{s.code}}</td>
                <td>{{s.sim}}</td>
                <td>{{s.status}}</td>
                <td class="center">{{$root.stampToDate(s.createdAt, 'm/d H:mma')}}
                <td><span class="link" ng-click="editSim(s)"><i class="fa fa-edit"></i></span></td>
            </tr>
        </tbody>
    </table>
    

    <div class="no-print">
        <div style="height: 34px">
            <span ng-if="!$root.checkEmptyObject(membersSelected)"><button class="btn btn-danger" ng-click="deleteMember()">Delete</button></span>
        </div>

        <dir-pagination-controls ng-if="sim.length" style="margin-top: 0" max-size="8" pagination-id="s1" direction-links="true" boundary-links="true" on-page-change="getData(newPageNumber)" >
            
        </dir-pagination-controls>
    </div>
</div>

<modal-dialog show='$root.modalShown' id="pop-box">
    <div class="modal-body addsim alert-con01" style="min-width: 720px">
        <span class="close button"></span>
        <form>
            <h2>Add/Check New Sim Codes</h2>
            <div class="pop-container">
            	<div class="col3 import">
                    <div>SIM List</div>
            		<textarea ng-model="form.import" wrap="soft" placeholder="{{placeholder}}"></textarea>
                    <div class="pop-btn center">
                        <button class="btn half btn-success dpblock button" type="button" ng-click="checkSims()" ng-disabled="!form.import">Check</button>
                    </div>
            	</div>


                <div class="col3 available">
                    <div>Available</div>
                    <textarea ng-model="form.available" ng-class="{greenbg: form.available}" wrap="soft" placeholder="None" readonly></textarea>
                    <div class="pop-btn center">
                        <button class="btn half dpblock button btn-primary" type="button" ng-click="saveSims()" ng-if="form.available">Save</button>
                    </div>
                </div>
                <div class="col3 existing">
                    <div>Existing</div>
                    <textarea ng-model="form.existing" ng-class="{redbg: form.existing}" wrap="soft" placeholder="None" readonly></textarea>
                </div>
            </div>
            

        </form>
    </div>
</modal-dialog>
