<div>
	<i class="fa tree-expand" ng-click="g.exp = !g.exp" ng-class="{'fa-plus-square-o': g.items && !g.exp, 'fa-minus-square-o': g.items && g.exp}"></i>
	<span class="link" ng-click="clickGroup(g.groupId)">{{g.name}}</span> <span class="count" ng-click="showMembers(g.groupId)"> 
	({{g.totalCount}})</span> <a class="count link" ng-repeat="m in g.members | filter: { l: 1 }" href="#/card/{{m.mid}}">{{m.name}}</a>

	<span class="actions">
		  <!--<i class="fa fa-user"></i>-->
	      <i class="fa fa-plus" ng-click="addNew(g.groupId)"></i>
	      <i class="fa fa-edit" ng-click="edit(g)"></i>
	      <i class="fa fa-trash-o" ng-if="g.groupId !=277" ng-click="delete(g.groupId)"></i>
	</span>
</div>
<ul class="child" ng-if="g.items && g.exp">
    <li ng-repeat="g in g.items" class="group-item" ng-include="'views/partial/tree.html'">
    </li>
</ul>
